<!DOCTYPE html>
<html lang="tr">

{% load staticfiles i18n %}

<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static "base.css" %}" rel="stylesheet" type="text/css">

    {% block extrahead %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span>
                    {% trans "Social Suite" %}
                </span>
            </a>
        </div>

        {% url "mps_summary" as url_profiles %}
        {% url "graphs" as url_graphs %}
        {% url "tweet_list" as url_timeline %}

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == url_timeline %}class="active"{% endif %}><a href="{{ url_timeline }}">{% trans "Tweets" %}</a></li>
                <li {% if request.path == url_mps_summary %}class="active"{% endif %}><a href="{{ url_mps_summary }}">{% trans "Profiles" %}</a></li>
                <li {% if request.path == url_graphs %}class="active"{% endif %}><a href="{{ url_graphs }}">{% trans "Reports" %}</a></li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @{{ user }}
                        <i class="fa fa-gears"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {# <li role="separator" class="divider"></li> #}
                        <li><a href="{% url 'logout' %}">Çıkış</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-info navbar-btn navbar-right">
                    <i class="fa fa-twitter"></i>&nbsp;
                    {% trans 'Login' %}
                </a>
            {% endif %}
        </div>
    </div>
</nav>

    <div class="container">

        {% block content %}
        {% endblock %}

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/tr.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


    <script>

        var authenticated = "{% if user.is_authenticated %}1{% endif %}";

    </script>

    <script src="{% static "templates/templates.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>

    {% block extrajs %}
    {% endblock %}

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65977822-1', 'auto');
  ga('send', 'pageview');
</script>

</html>
